node_modules
dist
.DS_Store
.env
credentials.json
token.json
# Ignore the output video from Git but not videos you import into src/.
out
.next/
.env.local
outputs/
template-outputs/
tsconfig.tsbuildinfo
*.log
